<div class="form-layout">
	<nz-card
		class="form-layout__card"
		[nzBordered]="false"
		[nzTitle]="'heading.role' | translate"
		[nzExtra]="action"
	>
		<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="jobRoleCode">{{
					'form.role.jobRoleCode' | translate
				}}</nz-form-label>
				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<input
						formControlName="jobRoleCode"
						type="text"
						nz-input
						[placeholder]="'form.role.jobRoleCode' | translate"
						appCapitalize
						id="jobRoleCode"
					/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="jobRoleName">{{
					'form.role.jobRoleName' | translate
				}}</nz-form-label>

				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<input
						formControlName="jobRoleName"
						nz-input
						type="text"
						[placeholder]="'form.role.jobRoleName' | translate"
						appCapitalize
						id="jobRoleName"
					/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-label [nzSpan]="7" nzRequired nzFor="maxPettyCashAllowed">{{
					'form.role.maxPettyCashAllowed' | translate
				}}</nz-form-label>

				<nz-form-control
					[nzSpan]="15"
					[nzErrorTip]="'validation.required' | translate"
				>
					<input
						formControlName="maxPettyCashAllowed"
						nz-input
						type="number"
						[placeholder]="'form.role.maxPettyCashAllowed' | translate"
						id="maxPettyCashAllowed"
					/>
				</nz-form-control>
			</nz-form-item>

			 
			<nz-form-item>
				<nz-form-control class="action-control">
					<button nz-button nzType="primary" [disabled]="!form.valid">
						{{ getButtonLabel() }}
					</button>
				</nz-form-control>
			</nz-form-item>
		</form>
		<ng-template #action>
			<button nz-button routerLink="/role" nzType="primary">
				<i nz-icon nzType="arrow-left"></i>
				{{ 'button.back' | translate }}
			</button>
		</ng-template></nz-card
	>
</div>
